<% content_for :title, "Edit Lead" %>

<div class="page-header">
  <div>
    <h1>Edit Lead</h1>
    <p class="page-subtitle">Update lead details and current status.</p>
  </div>
  <div>
    <%= link_to "Back to lead", lead_path(@lead), class: "btn btn-secondary" %>
  </div>
</div>

<div class="card">
  <%= render "form", lead: @lead %>
</div>
